name: inception

services:
  database:
    hostname: mariadb
    container_name: database
    pull_policy: never
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    environment:
      - DB_NAME=$DB_NAME
      - DB_ROOT_USER=$DB_ROOT_USER
      - DB_ROOT_PASSWD=$DB_ROOT_PASSWD
      - DB_USER=$DB_USER
      - DB_PASSWD=$DB_PASSWD
    expose:
      - 3306
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress-fastcgi:
    hostname: wordpress
    container_name: wordpress-fastcgi
    depends_on:
      database:
        condition: service_healthy
        restart: true
    pull_policy: never
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
    environment:
      - URL=$URL
      - DB_NAME=$DB_NAME
      - DB_USER=$DB_USER
      - DB_PASSWD=$DB_PASSWD
      - WP_ADMIN=$WP_ADMIN
      - WP_ADMIN_PASSWD=$WP_ADMIN_PASSWD
      - WP_USER=$WP_USER
      - WP_USER_PASSWD=$WP_USER_PASSWD
      - WP_TITLE=$WP_TITLE
      - WP_ADMIN_EMAIL=$WP_ADMIN_EMAIL
      - WP_USER_EMAIL=$WP_USER_EMAIL
    expose:
      - 9000
    volumes:
      - wordpress-data:/srv/www/wordpress/
    networks:
      - inception
    restart: unless-stopped

  webserver:
    hostname: nginx
    container_name: webserver
    depends_on:
      wordpress-fastcgi:
        condition: service_healthy
        restart: true
    pull_policy: never
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    ports:
      - "443:443"
    volumes:
      - wordpress-data:/srv/www/wordpress/
    networks:
      - inception
    restart: unless-stopped

networks:
  inception:

volumes:
  wordpress-data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/athiebau/data/wordpress"

  mariadb-data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/athiebau/data/mariadb"
